# INSTALAÇÃO E IMPORTAÇÃO DA BIBLIOTECA - Descoberta guiada

In [1]:
import pandas as pd

#Criando as principais estruturas - Descoberta guiada

**Series**

Crie uma série de dados com os valores: 10,22,48 e 54. O index deve ser 0,1,2,3 e 4.

In [2]:
import pandas as pd

s = pd.Series([10, 22, 48, 54], index=[0, 1, 2, 3])
print(s)

0    10
1    22
2    48
3    54
dtype: int64

**Dataframe**

Crie o seguinte dataframe:

![image.png]()

In [ ]:
import pandas as pd

data = {
    "prova_1": [6, 7, 8, 8, 9, 3, 6],
    "prova_2": [7, 8, 5, 7, 10, 8, 7],
    "nome": ["Ana", "Pedro", "João", "Carla", "Silvio", "Teresa", "Claudia"],
    "turma": ["A", "A", "B", "B", "A", "B", "B"]
}

df = pd.DataFrame(data)
print(df)

#Criando as principais estruturas - Hands on

Ao rodar o código abaixo, qual erro será retornado pelo python?

import pandas as pd
serie_1 = pd.Serie(data=[10,22,23,48,54], index=[1,1,2,3,4])
print(serie_1)

a) Length of passed values is 5, index implies 6

b) Invalid index passed value

c) module 'pandas' has no attribute 'Serie

d) name 'pds' is not defined

In [ ]:
import pandas as pd
serie_1 = pd.Serie(data=[10,22,23,48,54], index=[1,1,2,3,4])
print(serie_1)

Crie a estrutura de dataframe abaixo, considerando o próprio campo "Tipo sanguíneo" como index:


![image.png]()

In [ ]:
import pandas as pd

tipos_sanguineos = ["A+", "A-", "B+", "B-", "AB+", "AB-", "O+", "O-"]

# Criar DataFrame com uma coluna vazia (ou útil, se necessário)
df = pd.DataFrame(index=tipos_sanguineos)
df.index.name = "Tipo sanguíneo"  # Nomear o índice

print(df)

No dataframe de prova criado anteriormente, selecione agora a coluna nome como índice e imprima na tela o dataframe.

In [ ]:
import pandas as pd

# Criar o DataFrame original
data = {
    "prova_1": [6, 7, 8, 8, 9, 3, 6],
    "prova_2": [7, 8, 5, 7, 10, 8, 7],
    "nome": ["Ana", "Pedro", "João", "Carla", "Silvio", "Teresa", "Claudia"],
    "turma": ["A", "A", "B", "B", "A", "B", "B"]
}

df = pd.DataFrame(data)

# Definir a coluna "nome" como índice
df_com_indice_nome = df.set_index("nome")

# Imprimir o DataFrame resultante
print(df_com_indice_nome)

Reset o index da prova, voltando a ter um índice numérico auto incrementável

In [ ]:
import pandas as pd

# Criar o DataFrame original (caso não esteja carregado)
data = {
    "prova_1": [6, 7, 8, 8, 9, 3, 6],
    "prova_2": [7, 8, 5, 7, 10, 8, 7],
    "nome": ["Ana", "Pedro", "João", "Carla", "Silvio", "Teresa", "Claudia"],
    "turma": ["A", "A", "B", "B", "A", "B", "B"]
}

df = pd.DataFrame(data)

# Definir "nome" como índice (exemplo do passo anterior)
df_com_indice_nome = df.set_index("nome")

# Resetar o índice para voltar ao numérico padrão
df_resetado = df_com_indice_nome.reset_index()

# Imprimir o resultado
print(df_resetado)

#Importando dados - Descoberta guiada

Vamos abrir o csv especificado abaixo.

https://raw.githubusercontent.com/brunamulinari/BasicPythonProjects/main/Base_ficticia/baseficticia.csv

#Importando dados - Hands on

Importe a base de dados do titanic em csv no endereço abaixo e imprima as 5 primeiras linhas:

https://www.harve.com.br/praticas/titanic-pt-BR.csv

In [3]:
import pandas as pd

# URL do arquivo CSV
url = "https://www.harve.com.br/praticas/titanic-pt-BR.csv"

# Carregar os dados em um DataFrame
titanic = pd.read_csv(url, encoding='utf-8')  # ou encoding='latin-1' se houver problemas com acentos

# Imprimir as 5 primeiras linhas
print(titanic.head())

   Id do passageiro  Sobrevivente  Classe  \
0                 1             0       3
1                 2             1       1
2                 3             1       3
3                 4             1       1
4                 5             0       3

                                                Nome       Sexo  Idade  \
0                            Braund, Mr. Owen Harris  masculino   22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   feminino   38.0
2                             Heikkinen, Miss. Laina   feminino   26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)   feminino   35.0
4                           Allen, Mr. William Henry  masculino   35.0

   Irmaos ou conjuge  Pais ou filhos            Ticket Tarifa do passageiro  \
0                  1               0         A/5 21171                 7.25
1                  1               0          PC 17599              712.833
2                  0               0  STON/O2. 3101282                7.925
3                  1               0            113803                 53.1
4                  0               0            373450                08.05

  Cabine Local de embarque
0    NaN       Southampton
1    C85         Cherbourg
2    NaN       Southampton
3   C123       Southampton
4    NaN       Southampton

#Inserindo item - Descoberta guiada

Exercício: O código abaixo para adicionar a linha no dataframe inserindo um novo passageiro retornou um erro. Qual foi o motivo do erro? Após identidicar, corrija e insira esse novo passageiro.

df = df.append({'Id do passageiro': 892, 'Sobrevivente': 0,'Classe': 1, 'Nome': 'Cristiane','Sexo': 'feminino', 'Irmaos ou conjuge': 1, 'Pais ou filhos': 1, 'Local de embarque': 'Cherbourg', 'Ticket': '121A', 'Tarifa do passageiro': 8000, 'Cabine': C85},ignore_index=True)

Dados: "https://www.harve.com.br/praticas/titanic-pt-BR.csv"

In [ ]:
import pandas as pd

# Carregar os dados originais
url = "https://www.harve.com.br/praticas/titanic-pt-BR.csv"
df = pd.read_csv(url, encoding='utf-8')

# Verificar os nomes reais das colunas
print(df.columns.tolist())

# Adicionar o novo passageiro corretamente
novo_passageiro = {
    'Id do passageiro': 892,
    'Sobrevivente': 0,
    'Classe do ticket': 1,  # Note a correção no nome da coluna
    'Nome': 'Cristiane',
    'Sexo': 'feminino',
    'Nº de irmãos/conjuge': 1,  # Nome corrigido
    'Nº de pais/filhos': 1,     # Nome corrigido
    'Local de embarque': 'Cherbourg',
    'Ticket': '121A',
    'Tarifa do passageiro': 8000,
    'Cabine': 'C85'  # Aspas adicionadas
}

# Adicionar ao DataFrame (usando loc para versões mais recentes do pandas)
df = pd.concat([df, pd.DataFrame([novo_passageiro])], ignore_index=True)

# Verificar a última linha
print(df.tail(1))

#Inserindo item - Hands on

Adicione no dataframe da prova a seguinte linha: Nome:Cristiane, Turma:A,prova 1:5 e prova 2:7

In [ ]:
import pandas as pd

# DataFrame original das provas
data = {
    "prova_1": [6, 7, 8, 8, 9, 3, 6],
    "prova_2": [7, 8, 5, 7, 10, 8, 7],
    "nome": ["Ana", "Pedro", "João", "Carla", "Silvio", "Teresa", "Claudia"],
    "turma": ["A", "A", "B", "B", "A", "B", "B"]
}
df = pd.DataFrame(data)

# Dados da Cristiane
nova_linha = {
    'nome': 'Cristiane',
    'turma': 'A',
    'prova_1': 5,
    'prova_2': 7
}

# Adicionando usando loc (melhor para adicionar uma única linha)
df.loc[len(df)] = nova_linha  # len(df) obtém o próximo índice disponível

# Alternativa usando concat (ideal para adicionar múltiplas linhas)
# df = pd.concat([df, pd.DataFrame([nova_linha])], ignore_index=True)

print(df)

#Inspeção do conjunto - Descoberta guiada

Analise a quantidade total de linhas e colunas da tabela do titanic

In [ ]:
import pandas as pd

# Carregar os dados
url = "https://www.harve.com.br/praticas/titanic-pt-BR.csv"
titanic = pd.read_csv(url, encoding='utf-8')

# Obter linhas e colunas
linhas, colunas = titanic.shape

print(f"O DataFrame do Titanic possui:")
print(f"- Total de linhas (passageiros): {linhas}")
print(f"- Total de colunas (variáveis): {colunas}")

#Método 2: Usando len() e columns
print(f"\nAnálise alternativa:")
print(f"- Total de linhas: {len(titanic)}")
print(f"- Total de colunas: {len(titanic.columns)}")
print(f"\nNomes das colunas: {list(titanic.columns)}")

#Inspeção do conjunto - Hands on

Faça um código que imprima "Dataframe grande" caso ele tenha mais que 15 colunas e "Dataframe pequeno" caso seja menor ou igual.

In [ ]:
def classificar_dataframe(df):
    if len(df.columns) > 15:
        return "Dataframe grande"
    return "Dataframe pequeno"

print(classificar_dataframe(titanic))

Consulte os nomes das colunas que temos no dataframe.

In [ ]:
print(titanic.columns.tolist())

Modifique o nome da coluna "Id do passageiro" para "Id_passageiro"

In [ ]:
titanic = titanic.rename(columns={"Id do passageiro": "Id_passageiro"})
print(titanic.columns.tolist())

#Inspeção da coluna - Descoberta guiada

Quais são os tipos de dados das colunas do dataframe do titanic?

In [ ]:
print(titanic.dtypes)

#Inspeção da coluna - Hands on

Precisamos saber o tipo de dados da coluna tarifa do Tarifa do passageiro para realizar a soma das passagens. Mas para isso precisamos saber qual é o tipo de dado dessa coluna. Qual é o tipo de dado correto?

a) int64

b) int

c) object

d) float64

In [ ]:
print(titanic.dtypes)

Quais colunas permitem e quais não permitem valores nulos?

In [ ]:
print(titanic.isnull().sum())

#Inspeção de conteúdo - Descoberta guiada


Qual foi a média de idade dos passageiros do titanic? Qual foi o passageiro mais velho?

In [ ]:
#Calculando a idade média
average_age = titanic['Idade'].mean()
print(f"A média de idade dos passageiros do Titanic foi: {average_age:.2f} anos")

#Encontrando a idade do passageiro mais velho
oldest_age = titanic['Idade'].max()
print(f"A idade do passageiro mais velho no Titanic foi: {oldest_age} anos")

# encontrando as linhas dos passageiros mais velhos
oldest_passengers = titanic[titanic['Idade'] == oldest_age]
print("\nInformações sobre o(s) passageiro(s) mais velho(s):")
display(oldest_passengers)

#Inspeção de conteúdo - Hands on

Quantas linhas tem o dataframe do titanic usando a função len?

In [ ]:
print(len(titanic))

Quais são as classes que foram utilizadas pelos passageiros do titanic e quantas pessoas usaram cada uma delas?

In [ ]:
class_counts = titanic['Classe'].value_counts()
print("Contagem de passageiros por classe:")
print(class_counts)

#Atribuição de dados - Descoberta guiada

Selecione apenas as notas da coluna prova_1

In [ ]:
# Supondo que 'df' seja seu dataframe com dados de alunos
# Caso contrário, carregue-o ou crie-o primeiro.

prova1_notes = df['prova_1']
print(prova1_notes)

#Atribuição de dados - Hands on

Qual foi a nota do aluno de índice 2 na prova 1

In [ ]:
# Supondo que 'df' seja seu dataframe com dados de alunos
# Caso contrário, carregue-o ou crie-o primeiro.

nota_aluno_indice_2_prova_1 = df.loc[2, 'prova_1']
# Ou use iloc se tiver certeza sobre o índice posicional
# nota_aluno_indice_2_prova_1 = df.iloc[2, df.columns.get_loc('prova_1')]

print(f"A nota do aluno de índice 2 na prova 1 foi: {nota_aluno_indice_2_prova_1}")

Qual foi a nota da prova_1 da Ana?

In [ ]:
# Supondo que 'df' seja seu dataframe com dados de alunos
# Caso contrário, carregue-o ou crie-o primeiro.

ana_prova1_note = df[df['nome'] == 'Ana']['prova_1'].iloc[0]
print(f"A nota da Ana na prova 1 foi: {ana_prova1_note}")

Mude a nota da Ana na prova 1. A nota nova foi 8.

In [ ]:
# Supondo que 'df' seja seu dataframe com dados de alunos
# Caso contrário, carregue-o ou crie-o primeiro.

df.loc[df['nome'] == 'Ana', 'prova_1'] = 8
print(df[df['nome'] == 'Ana'])

Mude a nota do silvio na prova 1 para 10 usando o loc

In [ ]:
df.loc[df['nome'] == 'Silvio', 'prova_1'] = 10
print(df[df['nome'] == 'Silvio'])

Selecione as notas 1 da Carla, Silvio e Teresa usando o loc

In [ ]:
print(df.loc[df['nome'].isin(['Carla', 'Silvio', 'Teresa']), 'prova_1'])

Selecione as notas da Carla até a Teresa usando o loc.

In [ ]:
print(df.loc[3:5, ['prova_1', 'prova_2']])

Crie uma coluna chamada média das notas onde o resultado dela é a soma da prova 1 e a prova 2

In [ ]:
df['média das notas'] = df['prova_1'] + df['prova_2']
df

#Filtros - Descoberta guiada

Selecione somente os alunos da turma A

In [ ]:
print(df[df['turma'] == 'A'])

#Filtros - Hands on

Selecione somente os alunos da turma B

In [ ]:
print(df[df['turma'] == 'B'])

Verifique a porentagem de passageiros que sobreviveram no Titanic

In [ ]:
# Carregar os dados (certifique-se de que o DataFrame 'titanic' está carregado)
url = "https://www.harve.com.br/praticas/titanic-pt-BR.csv"
titanic = pd.read_csv(url, encoding='utf-8')

# Calcular o total de passageiros
total_passageiros = len(titanic)

# Calcular o número de sobreviventes (considerando 'Sobrevivente' = 1)
sobreviventes = titanic['Sobrevivente'].sum()

# Calcular a porcentagem de sobreviventes
porcentagem_sobreviventes = (sobreviventes / total_passageiros) * 100

print(f"Total de passageiros: {total_passageiros}")
print(f"Total de sobreviventes: {sobreviventes}")
print(f"Porcentagem de passageiros que sobreviveram: {porcentagem_sobreviventes:.2f}%")

#Filtros utilizando and e or - Descoberta guiada

Quantos alunos da turma B tiraram nota maior ou igual a oito?

In [ ]:
# Filtrar alunos da turma B
turma_b_df = df[df['turma'] == 'B']

# Filtrar alunos da turma B com nota >= 8 em prova_1 OU prova_2
alunos_turma_b_nota_alta = turma_b_df[(turma_b_df['prova_1'] >= 8) | (turma_b_df['prova_2'] >= 8)]

# Contar quantos alunos atendem ao critério
quantidade_alunos = len(alunos_turma_b_nota_alta)

print(f"Quantidade de alunos da turma B que tiraram nota maior ou igual a oito (em pelo menos uma prova): {quantidade_alunos}")

# Para saber quais alunos são, você pode imprimir o DataFrame filtrado:
# print("\nAlunos da turma B com nota maior ou igual a oito:")
# print(alunos_turma_b_nota_alta)

# Se a pergunta for quantos tiraram >= 8 em *ambas* as provas:
# alunos_turma_b_ambas_notas_altas = turma_b_df[(turma_b_df['prova_1'] >= 8) & (turma_b_df['prova_2'] >= 8)]
# print(f"Quantidade de alunos da turma B que tiraram nota maior ou igual a oito (em ambas as provas): {len(alunos_turma_b_ambas_notas_altas)}")
# print("\nAlunos da turma B com nota maior ou igual a oito (em ambas as provas):")
# print(alunos_turma_b_ambas_notas_altas)

#Filtros utilizando and e or - Hands on

Quantos homens tinham no titanic e quantos sobreviveram?

In [ ]:
# Filtrar apenas os passageiros do sexo masculino
homens_titanic = titanic[titanic['Sexo'] == 'masculino']

# Contar o total de homens
total_homens = len(homens_titanic)

# Filtrar os homens que sobreviveram ('Sobrevivente' == 1)
homens_sobreviventes = homens_titanic[homens_titanic['Sobrevivente'] == 1]

# Contar o total de homens sobreviventes
total_homens_sobreviventes = len(homens_sobreviventes)

print(f"Total de homens no Titanic: {total_homens}")
print(f"Total de homens que sobreviveram: {total_homens_sobreviventes}")

Quantas pessoas tinham mais de 40 anos e tinham filhos?

In [ ]:
# Filtrar pessoas com mais de 40 anos E com pelo menos 1 filho ('Nº de pais/filhos' > 0)
pessoas_mais_de_40_com_filhos = titanic[(titanic['Idade'] > 40) & (titanic['Nº de pais/filhos'] > 0)]

# Contar quantas pessoas atendem a esse critério
quantidade_pessoas = len(pessoas_mais_de_40_com_filhos)

print(f"Quantidade de pessoas com mais de 40 anos e que tinham filhos: {quantidade_pessoas}")

# Para ver quem são essas pessoas (opcional):
# print("\nPessoas com mais de 40 anos e que tinham filhos:")
# display(pessoas_mais_de_40_com_filhos)

Quantos passegeiros sobreviveram que eram da classa 1 ou 2?

In [ ]:
# Filtrar passageiros da Classe 1 ou 2
passageiros_classe_1_ou_2 = titanic[titanic['Classe do ticket'].isin([1, 2])]

# Filtrar os passageiros da Classe 1 ou 2 que sobreviveram ('Sobrevivente' == 1)
sobreviventes_classe_1_ou_2 = passageiros_classe_1_ou_2[passageiros_classe_1_ou_2['Sobrevivente'] == 1]

# Contar quantos passageiros atendem a esse critério
quantidade_sobreviventes = len(sobreviventes_classe_1_ou_2)

print(f"Quantidade de passageiros da Classe 1 ou 2 que sobreviveram: {quantidade_sobreviventes}")

#Dados faltantes e duplicados - Descoberta guiada

Realize uma consulta utilizando o comando isnull no dataframe

In [ ]:
print(df.isnull().sum())

Quantos passageiros tem idade nula nos registros?

In [ ]:
# Contar quantos passageiros têm a idade nula (NaN)
passageiros_idade_nula = titanic['Idade'].isnull().sum()

print(f"Quantos passageiros têm idade nula nos registros: {passageiros_idade_nula}")

Preencha os campos vazios de idade com 0

In [ ]:
# Preencher os valores nulos na coluna 'Idade' com 0
titanic['Idade'] = titanic['Idade'].fillna(0)

# Verificar se ainda existem valores nulos na coluna 'Idade'
print("Valores nulos na coluna 'Idade' após o preenchimento:")
print(titanic['Idade'].isnull().sum())

# Opcional: Mostra as primeiras linhas para verificar a mudança
# print("\nPrimeiras linhas do DataFrame após preencher idade com 0:")
# print(titanic.head())

#Dados faltantes e duplicados - Hands on

* Apague os registros de passageiros sem local de embarque definido

In [ ]:
# Remover linhas onde 'Local de embarque' é nulo
titanic_sem_local_nulo = titanic.dropna(subset=['Local de embarque'])

# Verificar a quantidade de valores nulos na coluna após a remoção
print("Valores nulos na coluna 'Local de embarque' após a remoção:")
print(titanic_sem_local_nulo['Local de embarque'].isnull().sum())

# Opcional: Mostra a diferença no número de linhas
print(f"\nNúmero de linhas antes: {len(titanic)}")
print(f"Número de linhas depois: {len(titanic_sem_local_nulo)}")

# Atualizar o dataframe 'titanic' se quiser que a mudança seja permanente para os próximos passos
titanic = titanic_sem_local_nulo.copy()

* Apague a terceira linha do dataframe do titanic

In [ ]:
# Apagar a terceira linha (índice 2, pois o índice começa em 0)
# Usamos drop() com o índice que queremos apagar.
# axis=0 indica que queremos apagar uma linha.
# inplace=True modifica o DataFrame original diretamente.
# Se não usar inplace=True, precisará reatribuir: titanic = titanic.drop(2, axis=0)

titanic = titanic.drop(2, axis=0).reset_index(drop=True)

# Imprimir as primeiras linhas para verificar se a linha 2 foi removida
print(titanic.head())

Apague a coluna Idade do dataframe do titanic

In [ ]:
# Apagar a coluna 'Idade'
titanic = titanic.drop('Idade', axis=1)

# Verificar as colunas restantes para confirmar que 'Idade' foi removida
print(titanic.columns.tolist())

# Opcional: Mostrar as primeiras linhas do DataFrame sem a coluna Idade
print(titanic.head())

#Bootcamp

Qual é o jogador mais ágil considerando apenas jogadores com mais de 30 anos

In [ ]:
# Carregar os dados do arquivo CSV
url_fifa = "https://www.harve.com.br/praticas/fifaplayers_pt.csv"
df_fifa = pd.read_csv(url_fifa)

# Filtrar jogadores com mais de 30 anos
jogadores_mais_de_30 = df_fifa[df_fifa['Idade'] > 30].copy() # Use .copy() para evitar SettingWithCopyWarning

# Encontrar o jogador com a maior agilidade entre os filtrados
# Usamos idxmax() para obter o índice da linha com o valor máximo na coluna 'Agilidade'
idx_mais_agil = jogadores_mais_de_30['Agilidade'].idxmax()

# Selecionar a linha do jogador mais ágil
jogador_mais_agil = jogadores_mais_de_30.loc[idx_mais_agil]

# Imprimir as informações do jogador mais ágil
print("O jogador mais ágil com mais de 30 anos é:")
print(jogador_mais_agil[['Nome', 'Idade', 'Agilidade']])

# Opcional: Exibir todas as colunas para esse jogador
# print("\nDetalhes completos do jogador mais ágil:")
# display(jogador_mais_agil)

#Resumo estatístico - Descoberta guiada

Carregue novamente o dataframe original do titanic e retorne a média de idade dos passageiros

In [ ]:
# Carregar novamente o dataframe original do titanic
url = "https://www.harve.com.br/praticas/titanic-pt-BR.csv"
titanic_original = pd.read_csv(url, encoding='utf-8')

# Calcular a média de idade dos passageiros
media_idade_titanic = titanic_original['Idade'].mean()

print(f"A média de idade dos passageiros do dataframe original do Titanic é: {media_idade_titanic:.2f} anos")

#Resumo estatístico - Hands on

Qual foi o passageiro mais velho do titanic?

In [ ]:
# O passageiro mais velho já foi encontrado no passo anterior de "Inspeção de conteúdo - Descoberta guiada".
# Basta reutilizar o código ou a variável 'oldest_passengers'.

# Certifique-se de que o DataFrame 'titanic' original foi carregado, por exemplo:
url = "https://www.harve.com.br/praticas/titanic-pt-BR.csv"
titanic = pd.read_csv(url, encoding='utf-8')

# Encontrar a idade máxima na coluna 'Idade'
oldest_age = titanic['Idade'].max()

# Filtrar o(s) passageiro(s) com a idade máxima
oldest_passengers = titanic[titanic['Idade'] == oldest_age]

print("Informações sobre o(s) passageiro(s) mais velho(s) no Titanic:")
display(oldest_passengers)

Qual foi a média de notas da prova 1 da turma A?

In [ ]:
# Filtrar apenas os alunos da turma A
turma_a_df = df[df['turma'] == 'A']

# Calcular a média da coluna 'prova_1' para os alunos filtrados
media_prova1_turma_a = turma_a_df['prova_1'].mean()

print(f"A média de notas da prova 1 da turma A foi: {media_prova1_turma_a:.2f}")

#Agrupamento - Descoberta guiada

Agrupe os dados do Titanic por classe e retorne os valores máximos de cada coluna

In [ ]:
# Agrupar por 'Classe do ticket' e encontrar o valor máximo para cada coluna em cada grupo
# O .max() em um DataFrame agrupado tenta encontrar o máximo em todas as colunas aplicáveis
max_por_classe = titanic.groupby('Classe do ticket').max()

print("Valores máximos por Classe do ticket:")
display(max_por_classe)

# Se você quiser ver o valor máximo de colunas numéricas/object separadamente, pode especificar:
# max_numerico_por_classe = titanic.groupby('Classe do ticket').max(numeric_only=True)
# max_object_por_classe = titanic.groupby('Classe do ticket').max(numeric_only=False)

# print("\nValores máximos (Numéricos) por Classe do ticket:")
# display(max_numerico_por_classe)
# print("\nValores máximos (Objetos/Texto) por Classe do ticket:")
# display(max_object_por_classe)

#Agrupamento - Hands on

Padronize os locais de embarque (C = Cherbourg, Q = Queenstown, S = Southampton) e descubra qual classe tem a maior média de idade?

In [ ]:
# Padronizar os locais de embarque
# Criar um dicionário de mapeamento
mapeamento_embarque = {
    'C': 'Cherbourg',
    'Q': 'Queenstown',
    'S': 'Southampton'
}

# Aplicar o mapeamento à coluna 'Local de embarque'
# Usamos .map() para substituir os valores. ignore_errors=True mantém valores que não estão no dicionário.
titanic['Local de embarque'] = titanic['Local de embarque'].map(mapeamento_embarque)

# Verificar a padronização (opcional)
print("Contagem de passageiros por Local de embarque padronizado:")
print(titanic['Local de embarque'].value_counts())

# Descobrir a média de idade por classe
# Certificar-se de que a coluna 'Idade' está no DataFrame (ela foi apagada em um passo anterior,
# então vamos recarregar o DataFrame original ou garantir que a coluna exista)
# Vamos assumir que o DataFrame 'titanic' que estamos usando agora possui a coluna 'Idade'.
# Se você apagou 'Idade' anteriormente e quer fazer isso com os dados originais, recarregue:
# url = "https://www.harve.com.br/praticas/titanic-pt-BR.csv"
# titanic = pd.read_csv(url, encoding='utf-8') # Pode precisar rodar a padronização novamente

# Calcular a média de idade para cada classe
# Agrupar por 'Classe do ticket' e calcular a média da coluna 'Idade'
media_idade_por_classe = titanic.groupby('Classe do ticket')['Idade'].mean()

print("\nMédia de idade por Classe do ticket:")
print(media_idade_por_classe)

# Encontrar a classe com a maior média de idade
# Usamos idxmax() para obter o índice (Classe do ticket) com o valor máximo (média de idade)
classe_maior_media_idade = media_idade_por_classe.idxmax()

print(f"\nA classe com a maior média de idade é: Classe {classe_maior_media_idade}")

Qual é a soma das idades de cada classe?

In [ ]:
# Calcular a soma das idades para cada classe
# Agrupar por 'Classe do ticket' e calcular a soma da coluna 'Idade'
soma_idade_por_classe = titanic.groupby('Classe do ticket')['Idade'].sum()

print("Soma das idades por Classe do ticket:")
soma_idade_por_classe

#Bootcamp

Carregue a base de dados da fifa e diga qual é a média de idade dos jogadores?

In [ ]:
# Carregar a base de dados da FIFA
url_fifa = "https://www.harve.com.br/praticas/fifaplayers_pt.csv"
df_fifa = pd.read_csv(url_fifa)

# Calcular a média de idade dos jogadores
media_idade_fifa = df_fifa['Idade'].mean()

print(f"A média de idade dos jogadores na base de dados da FIFA é: {media_idade_fifa:.2f} anos")

Apague os registros de passageiros sem local de embarque definido

In [ ]:
# Remover linhas onde 'Local de embarque' é nulo
titanic_sem_local_nulo = titanic.dropna(subset=['Local de embarque'])

# Verificar a quantidade de valores nulos na coluna após a remoção
print("Valores nulos na coluna 'Local de embarque' após a remoção:")
print(titanic_sem_local_nulo['Local de embarque'].isnull().sum())

# Opcional: Mostra a diferença no número de linhas
print(f"\nNúmero de linhas antes: {len(titanic)}")
print(f"Número de linhas depois: {len(titanic_sem_local_nulo)}")

# Atualizar o dataframe 'titanic' se quiser que a mudança seja permanente para os próximos passos
titanic = titanic_sem_local_nulo.copy()

Apague a terceira linha do dataframe do titanic

In [ ]:
# Apagar a terceira linha (índice 2, pois o índice começa em 0)
# Usamos drop() com o índice que queremos apagar.
# axis=0 indica que queremos apagar uma linha.
# inplace=True modifica o DataFrame original diretamente.
# Se não usar inplace=True, precisará reatribuir: titanic = titanic.drop(2, axis=0)

titanic = titanic.drop(2, axis=0).reset_index(drop=True)

# Imprimir as primeiras linhas para verificar se a linha 2 foi removida
print(titanic.head())

Apague a coluna Idade do dataframe do titanic

In [ ]:
# Apagar a coluna 'Idade'
titanic = titanic.drop('Idade', axis=1)

# Verificar as colunas restantes para confirmar que 'Idade' foi removida
print(titanic.columns.tolist())

# Opcional: Mostrar as primeiras linhas do DataFrame sem a coluna Idade
print(titanic.head())

Carregue novamente o dataframe original do titanic e retorne a média de idade dos passageiros

In [ ]:
# Carregar novamente o dataframe original do titanic
url = "https://www.harve.com.br/praticas/titanic-pt-BR.csv"
titanic_original = pd.read_csv(url, encoding='utf-8')

# Calcular a média de idade dos passageiros
media_idade_titanic = titanic_original['Idade'].mean()

print(f"A média de idade dos passageiros do dataframe original do Titanic é: {media_idade_titanic:.2f} anos")

#Visualização de dados - Descoberta guiada

Gere um gráfico de barras por sexo dos passageiros

In [ ]:
import matplotlib.pyplot as plt

# Agrupar por sexo e contar a quantidade de passageiros em cada grupo
sex_counts = titanic['Sexo'].value_counts()

# Gerar o gráfico de barras
plt.figure(figsize=(8, 6))
sex_counts.plot(kind='bar', color=['skyblue', 'lightcoral'])
plt.title('Contagem de Passageiros por Sexo')
plt.xlabel('Sexo')
plt.ylabel('Número de Passageiros')
plt.xticks(rotation=0) # Rotaciona os rótulos do eixo x para melhor visualização
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

#Visualização de dados - Hands on

Gere um gráfico representando a média das classes

In [ ]:
# Calcular a média da coluna 'média das notas' para cada turma
media_por_turma = df.groupby('turma')['média das notas'].mean()

# Gerar o gráfico de barras
plt.figure(figsize=(8, 6))
media_por_turma.plot(kind='bar', color=['lightgreen', 'salmon'])
plt.title('Média das Notas por Turma')
plt.xlabel('Turma')
plt.ylabel('Média das Notas')
plt.xticks(rotation=0)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

Gere um gráfico de barras com média de notas da prova 1 por turma

In [4]:
# Calcular a média da coluna 'prova_1' para cada turma
media_prova1_por_turma = df.groupby('turma')['prova_1'].mean()

# Gerar o gráfico de barras
plt.figure(figsize=(8, 6))
media_prova1_por_turma.plot(kind='bar', color=['lightskyblue', 'orchid'])
plt.title('Média das Notas da Prova 1 por Turma')
plt.xlabel('Turma')
plt.ylabel('Média da Prova 1')
plt.xticks(rotation=0)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

NameError: name 'df' is not defined

Gere um gráfico de pizza com média de notas da prova 1 por turma

In [ ]:
# Calcular a média da coluna 'prova_1' para cada turma
media_prova1_por_turma = df.groupby('turma')['prova_1'].mean()

# Gerar o gráfico de pizza
plt.figure(figsize=(8, 8))
media_prova1_por_turma.plot(kind='pie', autopct='%1.1f%%', startangle=90, colors=['lightblue', 'lightcoral'])
plt.title('Média das Notas da Prova 1 por Turma')
plt.ylabel('') # Remove o rótulo padrão 'média das notas' do eixo y
plt.show()

#Contectando dados - Descoberta guiada

Junte os dez passageiros mais jovens masculinos e os dez passageiros mais jovens femininos e use o concat para juntar e criar um único datafame.

In [ ]:
# Carregar o dataframe original do titanic, garantindo a coluna 'Idade'
url = "https://www.harve.com.br/praticas/titanic-pt-BR.csv"
titanic = pd.read_csv(url, encoding='utf-8')

# Separar passageiros masculinos e femininos
titanic_masculino = titanic[titanic['Sexo'] == 'masculino'].copy()
titanic_feminino = titanic[titanic['Sexo'] == 'feminino'].copy()

# Remover linhas com idade nula antes de ordenar, pois isnull() foi usado anteriormente
titanic_masculino.dropna(subset=['Idade'], inplace=True)
titanic_feminino.dropna(subset=['Idade'], inplace=True)

# Ordenar por idade (ascendente) e selecionar os 10 mais jovens
dez_mais_jovens_masculino = titanic_masculino.sort_values(by='Idade').head(10)
dez_mais_jovens_feminino = titanic_feminino.sort_values(by='Idade').head(10)

# Usar concat para juntar os dois dataframes
df_passageiros_jovens = pd.concat([dez_mais_jovens_masculino, dez_mais_jovens_feminino], ignore_index=True)

# Imprimir o dataframe resultante
print("DataFrame com os 10 passageiros mais jovens masculinos e 10 femininos:")
display(df_passageiros_jovens)

#Contectando dados - Hands on

As turmas tem turnos específicos seguindo a seguinte estrutura:

Turma

A - Manhã

B - Tarde

C - Tarde

D - Noite

Crie um dataframe e faça a junção com a lista dos alunos usando o merge.

In [ ]:
# Turma
# A - Manhã
# B - Tarde
# C - Tarde
# D - Noite
# Crie um dataframe e faça a junção com a lista dos alunos usando o merge.

# DataFrame original de alunos (do código anterior)
data_alunos = {
    "prova_1": [6, 7, 8, 8, 9, 3, 6],
    "prova_2": [7, 8, 5, 7, 10, 8, 7],
    "nome": ["Ana", "Pedro", "João", "Carla", "Silvio", "Teresa", "Claudia"],
    "turma": ["A", "A", "B", "B", "A", "B", "B"]
}
df_alunos = pd.DataFrame(data_alunos)

# Dados dos turnos das turmas
data_turnos = {
    "Turma": ["A", "B", "C", "D"],
    "Turno": ["Manhã", "Tarde", "Tarde", "Noite"]
}
df_turnos = pd.DataFrame(data_turnos)

# Renomear a coluna 'Turma' em df_turnos para que corresponda à coluna 'turma' em df_alunos para o merge
df_turnos = df_turnos.rename(columns={"Turma": "turma"})

# Realizar o merge (junção) dos dois dataframes
# Usamos left merge para manter todos os alunos e adicionar o turno correspondente
# on='turma' especifica a coluna comum para a junção
df_alunos_com_turno = pd.merge(df_alunos, df_turnos, on='turma', how='left')

# Imprimir o dataframe resultante
print("DataFrame de alunos com informação de turno:")
df_alunos_com_turno

As notas da turma A na prova 2 estão erradas. Será preciso diminuir um de cada aluno e juntar novamente os dataframes.

In [4]:
# Separar o dataframe original em turma A e turma B
df_turma_a = df[df['turma'] == 'A'].copy()
df_turma_b = df[df['turma'] == 'B'].copy()

# Diminuir 1 da nota da prova 2 para os alunos da turma A
df_turma_a['prova_2'] = df_turma_a['prova_2'] - 1

# Juntar os dataframes corrigidos usando concat
# ignore_index=True reseta os índices para um novo índice numérico contínuo
df_corrigido = pd.concat([df_turma_a, df_turma_b], ignore_index=True)

# Opcional: Ordenar por nome ou índice original se necessário
# df_corrigido = df_corrigido.sort_values(by='nome').reset_index(drop=True) # Exemplo ordenando por nome

print("DataFrame corrigido com as notas da prova 2 da turma A diminuídas em 1:")
df_corrigido

#Salvando dados - Descoberta guiada

Salve os dados do titanic no arquivo meu_arquivo.csv

In [ ]:
# Salvar o DataFrame do Titanic em um arquivo CSV
# Certifique-se de que o DataFrame 'titanic' que você quer salvar está pronto.
# Se você seguiu os passos anteriores, 'titanic' foi modificado (colunas removidas, linhas apagadas).
# Para salvar o dataframe original, use 'titanic_original' (carregado no passo de Resumo Estatístico - Descoberta Guiada).

# Vamos assumir que você quer salvar o dataframe 'titanic' que foi manipulado.
# Se quiser o original, mude a linha abaixo para `titanic_original.to_csv(...)`

# O parâmetro index=False impede que o índice do DataFrame seja escrito como uma coluna no CSV.
titanic.to_csv('meu_arquivo.csv', index=False, encoding='utf-8') # Ou encoding='latin-1' se necessário

print("DataFrame do Titanic salvo com sucesso em 'meu_arquivo.csv'")

# Opcional: Verificar o conteúdo do arquivo salvo
!head meu_arquivo.csv

#Salvando dados - Hands on

Salve o arquivo com os dados das provas no arquivo provas.csv

In [ ]:
# Salvar o DataFrame das provas em um arquivo CSV
# Certifique-se de que o DataFrame 'df' que você quer salvar está pronto.
# O parâmetro index=False impede que o índice do DataFrame seja escrito como uma coluna no CSV.
df.to_csv('provas.csv', index=False, encoding='utf-8')

print("DataFrame das provas salvo com sucesso em 'provas.csv'")

# Opcional: Verificar o conteúdo do arquivo salvo
!head provas.csv